@import "../config/colors.scss";

.pushNotification {
  background-color: tomato;
  height: 50px;
  width: auto;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.pop-up {
  display: block;
  animation: popUp 0.5s ease-in-out forwards;
  position: fixed;
  // bottom: -100vh;
  bottom: 10px;
  right: 10px;
}

@keyframes popUp {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide {
  display: none;
}
