@import "../config/colors.scss";

.pushNotification {
  background-color: tomato;
  height: 50px;
  width: auto;
  padding: 1rem;
  color: white;
}

.pop-up {
  display: block;
  animation: 0.3s ease-in-out forwards;
  position: fixed;
  // bottom: -100vh;
  right: 10px;
}

@keyframes popUp {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 1;
  }
}

.hide {
  display: none;
}
