@import url("https://fonts.googleapis.com/css?family=Poppins|Rubik|Nunito+Sans");

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  // text-transform: uppercase;
}
